In [126]:
import pandas as pd

In [127]:
dados = pd.read_csv('buscas.csv', sep = ',')
dados.head()

   home       busca  logado  comprou
0     0  algoritmos       1        1
1     0        java       0        1
2     1  algoritmos       0        1
3     1        ruby       1        0
4     1        ruby       0        1

In [128]:
X = []
Y = []
for c in range(dados.shape[0]):
    r = []
    r.append(int(dados['home'][c]))
    r.append(str(dados['busca'][c]))
    r.append(int(dados['logado'][c]))
    X.append(r)
    Y.append(int(dados['comprou'][c]))
print(Y)

[1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 0]

In [129]:
x_df = dados[['home', 'busca', 'logado']]
y_df = dados['comprou']

In [130]:
# variaveis dummies são variaveis que não estavam presentes nos dados que recebemos originalmente, mas que conseguimos extrair do dataset original. Exemplo: as colunas mostrando o que pesquisou... java, algoritmo, ruby

In [131]:
xdummies_df = pd.get_dummies(x_df)
ydummies_df = y_df
# a funcao pd.get_dummies gera automaticamente os dummies do DataFrame em que estou trabalhando

In [132]:
X = xdummies_df.values
Y = ydummies_df.values
# o método nome.values transforma o DataFrame em um array. Muito mais fácil do que eu jeito antigo com append

In [133]:
porcentagem_de_treino = 0.8
porcentagem_de_teste = 0.1

tamanho_de_treino = int(porcentagem_de_treino * len(Y))
tamanho_de_teste = int(porcentagem_de_teste * len(Y))
tamanho_de_validacao = int(len(Y) - tamanho_de_treino - tamanho_de_teste)

treino_dados = X[:tamanho_de_treino]
treino_marcacoes = Y[:tamanho_de_treino]

fim_de_teste = tamanho_de_treino + tamanho_de_teste
teste_dados = X[tamanho_de_treino:fim_de_teste]
teste_marcacoes = Y[tamanho_de_treino:fim_de_teste]
                    
validacao_dados = X[fim_de_teste:]
validacao_marcacoes = Y[fim_de_teste:]

In [134]:
# from sklearn.naive_bayes import MultinomialNB
from sklearn.ensemble import AdaBoostClassifier

In [135]:
# modelo = MultinomialNB()
modelo = AdaBoostClassifier()

In [136]:
modelo.fit(treino_dados, treino_marcacoes)

AdaBoostClassifier(algorithm='SAMME.R', base_estimator=None,
          learning_rate=1.0, n_estimators=50, random_state=None)

In [137]:
resultado = modelo.predict(teste_dados)

In [138]:
diferencas = resultado - teste_marcacoes

In [139]:
acertos = []
for c in range(len(diferencas)):
    if diferencas[c] == 0:
        acertos.append(diferencas[c])

In [140]:
taxa_acerto = (len(acertos)/len(teste_marcacoes)) * 100
print(taxa_acerto)

84.0

In [141]:
# acerto_de_um = sum(Y)
# acerto_de_zero = len(Y) - acerto_de_um
from collections import Counter
acerto_base = max(Counter(validacao_marcacoes).values())
taxa_de_acerto_base = 100.0 * acerto_base / len(validacao_marcacoes)
# taxa_de_acerto_base = 100.0 * (max(acerto_de_um, acerto_de_zero) / len(Y))

# Escolhendo a taxa de acerto base

In [142]:
# prevendo a taxa de acerto no mundo real
resultado_real = modelo.predict(validacao_dados)
diferenca_real = resultado_real - validacao_marcacoes
acerto_real = []
for t in range(len(diferenca_real)):
    if diferenca_real[t] == 0:
        acerto_real.append(diferenca_real[t])
taxa_acerto_real = (len(acerto_real) / len(diferenca_real)) * 100

In [143]:
print(f'A taxa de acerto base é {taxa_de_acerto_base}%')
print(f'A taxa de acerto do algoritmo é {taxa_acerto}%')
print(f'A taxa de acerto no mundo real é {taxa_acerto_real}%')

A taxa de acerto base é 82.0%
A taxa de acerto do algoritmo é 84.0%
A taxa de acerto no mundo real é 85.0%

In [144]:
# outra forma de calcular total de zeros e uns
# len(Y[Y==0])

In [145]:
print(dados.shape[0])

1000

In [146]:
df = dados

In [147]:
# usando replace para transformas 1 e 0 em sim e nao
df['comprou'].replace(1, 'sim', inplace = True)
df['comprou'].replace(0, 'nao', inplace = True)
df

     home       busca  logado comprou
0       0  algoritmos       1     sim
1       0        java       0     sim
2       1  algoritmos       0     sim
3       1        ruby       1     nao
4       1        ruby       0     sim
5       0        ruby       1     nao
6       0  algoritmos       1     sim
7       0        ruby       0     sim
8       1  algoritmos       1     sim
9       1        ruby       1     sim
10      1  algoritmos       1     sim
11      1        ruby       1     nao
12      0        ruby       1     sim
13      0        java       1     sim
14      1        ruby       1     sim
15      1  algoritmos       0     sim
16      0        ruby       1     sim
17      1  algoritmos       1     sim
18      0        ruby       1     sim
19      1        ruby       0     sim
20      1  algoritmos       0     sim
21      0        ruby       1     sim
22      0        ruby       1     sim
23      0        java       1     sim
24      1        ruby       0     nao
25      1  algoritmos       0     sim
26      0        ruby       1     nao
27      0        ruby       1     nao
28      1        ruby       1     sim
29      0  algoritmos       0     sim
..    ...         ...     ...     ...
970     1        ruby       1     sim
971     1  algoritmos       1     sim
972     0        java       1     sim
973     1        ruby       1     nao
974     1  algoritmos       0     sim
975     0        java       1     sim
976     1        ruby       0     nao
977     1        ruby       0     nao
978     0        ruby       0     nao
979     1        java       0     sim
980     1        ruby       0     nao
981     0  algoritmos       0     nao
982     1        ruby       1     sim
983     1        ruby       1     sim
984     0        java       0     sim
985     1        ruby       1     nao
986     0  algoritmos       0     sim
987     0        java       1     sim
988     1        java       0     sim
989     0  algoritmos       0     sim
990     0        java       0     sim
991     1  algoritmos       0     sim
992     1  algoritmos       0     nao
993     1        java       0     sim
994     0        ruby       1     nao
995     0        ruby       0     nao
996     0        ruby       0     sim
997     0        java       1     sim
998     1  algoritmos       0     sim
999     0        ruby       1     nao

[1000 rows x 4 columns]

In [148]:
df['comprou'].replace('sim', 1, inplace = True)
df['comprou'].replace('nao', 0, inplace = True)
df

     home       busca  logado  comprou
0       0  algoritmos       1        1
1       0        java       0        1
2       1  algoritmos       0        1
3       1        ruby       1        0
4       1        ruby       0        1
5       0        ruby       1        0
6       0  algoritmos       1        1
7       0        ruby       0        1
8       1  algoritmos       1        1
9       1        ruby       1        1
10      1  algoritmos       1        1
11      1        ruby       1        0
12      0        ruby       1        1
13      0        java       1        1
14      1        ruby       1        1
15      1  algoritmos       0        1
16      0        ruby       1        1
17      1  algoritmos       1        1
18      0        ruby       1        1
19      1        ruby       0        1
20      1  algoritmos       0        1
21      0        ruby       1        1
22      0        ruby       1        1
23      0        java       1        1
24      1        ruby       0        0
25      1  algoritmos       0        1
26      0        ruby       1        0
27      0        ruby       1        0
28      1        ruby       1        1
29      0  algoritmos       0        1
..    ...         ...     ...      ...
970     1        ruby       1        1
971     1  algoritmos       1        1
972     0        java       1        1
973     1        ruby       1        0
974     1  algoritmos       0        1
975     0        java       1        1
976     1        ruby       0        0
977     1        ruby       0        0
978     0        ruby       0        0
979     1        java       0        1
980     1        ruby       0        0
981     0  algoritmos       0        0
982     1        ruby       1        1
983     1        ruby       1        1
984     0        java       0        1
985     1        ruby       1        0
986     0  algoritmos       0        1
987     0        java       1        1
988     1        java       0        1
989     0  algoritmos       0        1
990     0        java       0        1
991     1  algoritmos       0        1
992     1  algoritmos       0        0
993     1        java       0        1
994     0        ruby       1        0
995     0        ruby       0        0
996     0        ruby       0        1
997     0        java       1        1
998     1  algoritmos       0        1
999     0        ruby       1        0

[1000 rows x 4 columns]