In [83]:
import pandas as pd

In [84]:
dados = pd.read_csv('acesso.csv', sep=',')
dados.head()

   acessou_home  acessou_como_funciona  acessou_contato  comprou
0             1                      1                0        0
1             1                      1                0        0
2             1                      1                0        0
3             1                      1                0        0
4             1                      1                0        0

In [85]:
Y = pd.DataFrame(dados['comprou'])
X = pd.DataFrame(dados[['acessou_home', 'acessou_como_funciona', 'acessou_contato']])
X.head(10)

   acessou_home  acessou_como_funciona  acessou_contato
0             1                      1                0
1             1                      1                0
2             1                      1                0
3             1                      1                0
4             1                      1                0
5             1                      0                1
6             1                      1                0
7             1                      0                1
8             1                      1                0
9             1                      0                1

In [86]:
Y.head()

   comprou
0        0
1        0
2        0
3        0
4        0

In [87]:
y = []
for c in range(Y.shape[0]):
    y.append(Y['comprou'][c])
type(y)

list

In [88]:
x = []
for i in range(X.shape[0]):
    
    for t in range(2):
        r = []
        r.append(X['acessou_home'][i])
        r.append(X['acessou_como_funciona'][i])
        r.append(X['acessou_contato'][i])
    x.append(r)
print(x)
treino_dados = x[:90]
treino_marcacoes = y[:90]
teste_dados = x[-9:]
teste_marcacoes = y[-9:]

[[1, 1, 0], [1, 1, 0], [1, 1, 0], [1, 1, 0], [1, 1, 0], [1, 0, 1], [1, 1, 0], [1, 0, 1], [1, 1, 0], [1, 0, 1], [1, 1, 0], [1, 0, 1], [0, 0, 1], [0, 0, 1], [0, 0, 1], [0, 0, 1], [0, 0, 1], [0, 1, 0], [0, 0, 1], [0, 1, 0], [0, 0, 1], [0, 1, 0], [0, 0, 1], [0, 1, 0], [1, 0, 1], [1, 1, 1], [1, 1, 1], [1, 0, 1], [0, 1, 0], [0, 0, 1], [0, 1, 0], [1, 0, 1], [0, 0, 1], [1, 0, 1], [1, 0, 1], [1, 0, 1], [1, 0, 1], [0, 0, 1], [1, 1, 0], [1, 0, 1], [0, 1, 0], [0, 0, 1], [0, 1, 0], [1, 0, 1], [0, 0, 1], [0, 0, 1], [1, 0, 1], [1, 0, 1], [1, 1, 0], [1, 1, 0], [1, 1, 0], [1, 1, 0], [1, 0, 1], [1, 1, 0], [1, 0, 1], [1, 1, 0], [1, 0, 1], [1, 1, 0], [1, 0, 1], [0, 0, 1], [1, 0, 1], [0, 1, 0], [0, 0, 1], [0, 1, 0], [1, 0, 1], [0, 1, 1], [0, 0, 1], [1, 0, 1], [1, 0, 1], [1, 1, 0], [1, 1, 0], [0, 0, 1], [0, 0, 1], [0, 0, 1], [0, 0, 1], [0, 1, 0], [0, 0, 1], [0, 1, 0], [0, 0, 1], [1, 1, 0], [0, 0, 1], [0, 0, 1], [0, 0, 1], [1, 0, 1], [1, 0, 1], [1, 1, 0], [1, 1, 0], [0, 0, 1], [0, 0, 1], [1, 0, 1], [1, 0, 1], [1, 1, 0], [1, 1, 0], [0, 0, 1], [0, 0, 1], [1, 1, 1], [0, 0, 1], [0, 1, 0], [0, 0, 0]]

In [89]:
from sklearn.naive_bayes import MultinomialNB
modelo = MultinomialNB()
modelo.fit(treino_dados, treino_marcacoes)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [90]:
print(modelo.predict([[1, 0, 1], [0, 1, 0], [1, 0, 0], [1, 1, 0], [1, 1, 1]]))

[1 0 0 0 0]

In [91]:
resultado = modelo.predict(teste_dados)

In [92]:
print(resultado)

[1 0 0 0 0 0 0 0 0]

In [93]:
diferencas = resultado - teste_marcacoes
acertos = []
for w in range(len(diferencas)):
    if diferencas[w] == 0:
        acertos.append(diferencas[w])

In [94]:
total_acertos = len(acertos)

In [95]:
total_elementos = len(teste_dados)

In [97]:
taxa_acerto = (total_acertos / total_elementos) * 100.00
print(total_acertos)
print(total_elementos)
print(taxa_acerto)

8
9
88.88888888888889